/* banner relate task */

* {
    margin-left: 0px;
    padding: 0;
}


.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto;
}

.new-year-title1 {
    padding-top: 150px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

.new-year-title2 {
    padding-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
}

.header-container {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    justify-content: center;
    border-radius: 16px;

}

.discount-section {
    text-align: center;
    background-color: #FFF;
    margin-top: 120px;

}

.discount-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discout-type {
    color: #F00;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.category {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.party-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    background-size: contain;
    margin-top: 120px;
}

.welcome-party {
    display: flex;
    justify-content: space-around;

}

.welcome-party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3em;
    letter-spacing: 7.04px;

}

.welcome-party-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 1em;
}

.join-now-btn {
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    padding: 20px;
    color: #FFF;

}

.welcome-party-left {

    padding-top: 110px;
    padding-bottom: 10px;
}

.image-2024 {
    width: 320px;
    padding-top: 68px;
}

.address-section-border {
    border: none black;
    border-radius: 10px;
}

.address-section {
    margin-top: 120px;
}

.address-details {
    padding-top: 120px;
    padding-bottom: 80px;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 50px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.address-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.join-now-btn2 {
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    border-radius: 8px;
    background: #F00;
    padding: 10px;
    color: #FFF;
}

.best-offer-section {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.offer-section-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-section-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.offer-section-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-section-left {
    text-align: left;

}

.offer-section-mdl-img {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 50px;
}

.offer-section-right {

    text-align: justify;
}

.offer-section-yr {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section-rt-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.holiday-sell-img {
    display: flex;
}

.holiday-sell-section {
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}

.holiday-sell-title1 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sell-title2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.Sale-firty {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sell-para {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holiday-sell-img {
    justify-content: space-between;
    background-image: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}



.holiday-sell-img2 {
    width: 206.841px;
    height: 206.841px;

}


.pic-div1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
background: lightgray 50% / cover no-repeat;
}

.best-gift-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    
}

.best-gift-title2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

.gift-div{
   text-align: left;
   margin-top: 120px;
}

.best-gift-para{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}